p,
ul,
li {
    margin: 0;
    padding: 0;
    border: 0;
}

#container {
    width: 720px;
    padding: 30px;
    box-sizing: border-box;
    /* display: table; */
}

#name {
    color: #008;
    font-size: 24px;
    float: left;
    margin: 0;
}

.grey {
    text-align: right;
    color: #888;
    font-size: 11px;
    margin: 0px;
}

a {
    color: #5A1F8D;
}

li {
    font-size: 0.8em;
}

.section-container {
    display: flex;
}

.section-header {
    color: #008;
    width: 130px;
}

.section-rows {
    flex: 1;
    margin-bottom: 10px;
}

.section-row {
    display: flex;
    margin-bottom: 10px;
    line-height: 1.1em;
    justify-content: flex-start;
}

.row-sub-header {
    font-weight: bold;
    font-size: 0.8em;
}

.row-left {
    flex-grow: 1;
}

.row-right {
    flex-grow: 2;
    white-space: nowrap;
}

img {
    width: 15px;
    height: 15px;
    margin-left: 2px;
    vertical-align: center;
}